# Hidden files
.*

# Mac junk
*~

# Temporary out files
*.out

# Java class files
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# ModelSim files
*.vcd
*.mti
*.mpf
*.wlf
verilog/work/*
verilog/waves.shm/
verilog/*.key

# log files
*.log*

# ???
*/INCA_libs/

# synth files
synth/WORK/
synth/alib-52/
synth/change_names
synth/default.svf
synth/*.pow
synth/*.rep
synth/*.mr
synth/*.pvl
synth/*.syn
# ignore tictactoe design file because we need to copy it over from the
# original every time we update it - and copying symlinks doesn't work. 
synth/tictactoe.sv

# schematic editor lock files
*cdslck*
